//- ＜＜読込みファイル＞＞

//- =================================================================================================
    css
  ===================================================================================================

//- link( rel="stylesheet" href="css/jquery.fs.boxer.min.css" )


//- =================================================================================================
    script
  ===================================================================================================

script( src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" )
script( src="https://kit.fontawesome.com/124ad94eb5.js" )
//- script( src="js/jquery.fs.boxer.min.js" )